@model Fitness_Diet_Reviewer.ViewModels.AccountViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    var currUserSearch = await UserManager.FindByNameAsync(User.Identity.Name);
}


<div class="row">
    <div class="col">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">User profile</p>
            </div>
            <div class="card-body text-center">
                <form asp-action="Edit" method="post">
                    <input type="hidden" name="name" value="@Model.ApplicationUser.UserName">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="first_name"><strong>First Name</strong></label>
                                <div>@Model.ApplicationUser.FirstName</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="last_name"><strong>Last Name</strong></label>
                                <div>@Model.ApplicationUser.LastName</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Body characteristics</p>
            </div>
            <div class="card-body text-center">
                <form asp-action="Edit" method="post">
                    <input type="hidden" name="name" value="@Model.ApplicationUser.UserName">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="gender"><strong>Gender</strong></label>
                                <div>@Model.ApplicationUser.Gender</div>

                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="age"><strong>Ages</strong></label>
                                <div>@Model.ApplicationUser.Age</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="weight"><strong>Weight</strong></label>
                                <div>@Model.ApplicationUser.Weight</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="height"><strong>Height</strong></label>
                                <div>@Model.ApplicationUser.Height</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="activity"><strong>Activity Level</strong></label>
                                <div>
                                    @{
                                        var activity = "";
                                        switch (Model.ApplicationUser.ActivityLevel)
                                        {
                                            case "0":
                                                activity = "Sedentary lifestyle (very little activity)";
                                                break;
                                            case "1":
                                                activity = "Light activity (light training/sports 1-3 days a week)";
                                                break;
                                            case "2":
                                                activity = "Moderate activity (moderate training/sports 3-5 days a week)";
                                                break;
                                            case "3":
                                                activity = "High activity (intense training/sports 6-7 days a week)";
                                                break;
                                            case "4":
                                                activity = "Extreme activity (heavy physical work and sports, double training)";
                                                break;
                                        }
                                        @activity
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>